.large-margin-bottom {
  margin-bottom: 130px;
}

.elearning-background {
  background: #f4fafd;
}

.footer {
  background: #161616;
  max-height: 470px;
  min-height: 300px;
}

.footer-content {
  max-width: 300px;
}

.social-icon {
  color: #555;
  font-size: 35px;
  padding: 5px;
}
.social-icon:hover {
  color: white;
}

.faq {
  max-width: 750px;
}
